@tailwind base;
@tailwind components;
@tailwind utilities;
.collapse {
    visibility: visible!important;
}
.bgimage{
background-image: linear-gradient(0deg, rgba(46,
                34,
                156, 0.5), rgba(46,
                34,
                156, 0.5)), url("../img/carousel-2.jpg");
           
             background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
            
}